<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767182926732-itdmmrb730osq8ar7c8htta1unioqr6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767182926732-itdmmrb730osq8ar7c8htta1unioqr6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCRO02UXk8akwbvv1Xb_Y6lGG1edKZHy7o</string>
	<key>GCM_SENDER_ID</key>
	<string>767182926732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HuuToan.MLife</string>
	<key>PROJECT_ID</key>
	<string>mlife-5c5d7</string>
	<key>STORAGE_BUCKET</key>
	<string>mlife-5c5d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767182926732:ios:39127594ec7ab51bcddca9</string>
</dict>
</plist>